[submodule "vim/vim.symlink"]
	path = vim/vim.symlink
	url = git@github.com:jacobstr/vim.git
[submodule "zsh/zaw"]
	path = zsh/zaw
	url = git://github.com/zsh-users/zaw.git
[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
